<%- include("partials/header"); -%>
<body class = "Body">

  <% if(userValue!=null){ %>
      <div><h1>Hi! <%= userValue.first %>  <%= userValue.last %></h1></div>
  <%}%>
  <h1><strong>Compose</strong></h1><br>
  <form name="form1" method="POST" action="/home">
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Title</label>
      <input type="text" id="form2Example1" class="form-control" name="postTitle" />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Post</label>
      <textarea class="form-control" id="form2Example2" name="postBody" rows="8" cols="80"></textarea>
      <!-- <input type="textarea" id="form2Example2" class="form-control" name="postBody" /> -->
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
          <label class="form-check-label" for="form2Example31"> Remember me </label>
        </div>
      </div>

      <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
      </div>
    </div>

    <!-- Submit button -->
    <button type="submit" value="Save" class="btn btn-primary btn-block mb-4">Save</button>

    <!-- Register buttons -->
    <div class="text-center">
      <p>Not a member? <a href="#!">Register</a></p>
      <p>or sign up with:</p>
      <div class="social">
        <button type="button">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button">
          <i class="fab fa-google"></i>
        </button>

        <button type="button">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button">
          <i class="fab fa-github"></i>
        </button>
      </div>
    </div>
  </form>

</body>
<%- include("partials/footer"); -%>
